<html> 
    <head>
           <title>my wesite</title>
           <link rel="style sheet" href="main.css">
    </head>
    <body>
        <H1>My website </H1>
        <h3>Matua jason</h3>
        <p> this is my first "website" i have made from scratch</p> 